header{
    background-color:blueviolet;
    height:50px;
    text-align:center
}

footer{
    background-color:orange;
    height:50px;
    width:100vw;
    text-align:center;
    position:fixed;
    bottom:0
  }
