body{

    *{max-width: 100%;}
    
}
header{
    background-color:blueviolet;
    height:50px;
    text-align:center;
    position: sticky;
}

footer{
    background-color:orange;
    height:50px;
    bottom: 0;
    text-align:center;
    position: sticky;
  }


#white{
    background-color: white;
}

#red{
    background-color: red;
}

#blue{
    background-color:blue;
}

#green{
background-color: green;
}

#yellow{
    background-color: yellow;
}

.height{
    position: sticky;
    height : calc(100vh - 100px);
}

