header{
    background-color:blueviolet;
    height:50px;
    width:100vw;
    text-align:center
}

footer{
    background-color:orange;
    height:50px;
    width:100vw;
    text-align:center;
    position:fixed;
    bottom:0
  }

#white{
    background-color: white;
}

#red{
    background-color: red;
}

#blue{
    background-color:blue;
}

#green{
background-color: green;
}

#yellow{
    background-color: yellow;
}