.red {
  grid-area: 1 / 1;
  background-color: red;
  height: 100%;
}
.green {
  grid-area: 1 / 2;
  background-color: green;
  height: 100%;
}
.blue {
  grid-area: 2 / 1;
  background-color: blue;
  height: 100%;
}
.yellow {
  grid-area: 2 / 2;
  background-color: yellow;
  height: 100%;
}

